@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.collapse-arrow > .collapse-title:after{
  top: 1.5rem;
}

.ag-cell-value, .ag-group-value{
  overflow: inherit !important;
}

/* .sketch-picker {
  width: 20% !important;
} */
